[package]
name = "hyperlight-wasm-macro"
version = "0.7.0"
edition = "2024"
description = """
Procedural macros to generate Hyperlight Wasm host and guest bindings from component types
"""

[lib]
name = "hyperlight_wasm_macro"
proc-macro = true

[dependencies]
quote = { version = "1.0.38" }
proc-macro2 = { version = "1.0.93" }
syn = { version = "2.0.96" }
itertools = { version = "0.14.0" }
prettyplease = { version = "0.2.31" }
hyperlight-component-util = { version = "0.7.0", git = "https://github.com/hyperlight-dev/hyperlight", rev = "abdb96dcdbe96faf2e6b01ab3e3e8a7f699af8b8" }
