[package]
name = "wasm-runtime"
version = "0.11.0"
edition = "2021"

[profile.release]
debug = "full"

[[bin]]
name = "wasm_runtime"
path = "src/main.rs"
test = false
doctest = false
bench = false

[dependencies]
hyperlight-common = { version = "0.11.0", default-features = false }
hyperlight-guest-bin = { version = "0.11.0", features = [ "printf" ] }
hyperlight-guest = { version = "0.11.0" }
wasmtime = { version = "36.0.3", default-features = false, features = [ "runtime", "custom-virtual-memory", "custom-native-signals", "component-model" ] }
hyperlight-wasm-macro = { path = "../hyperlight_wasm_macro" }
spin = "0.10.0"
tracing = { version = "0.1.43", default-features = false, features = ["attributes", "log"] }

[build-dependencies]
cfg_aliases = "0.2.1"
cc = "1.2"
cfg-if = { version = "1" }
cargo_metadata = "0.23"
reqwest =  {version = "0.12", default-features = false, features = ["blocking","rustls-tls"] }

[workspace] # indicate that this crate is not part of any workspace

[features]
default = []
gdb = ["wasmtime/debug-builtins"]
trace_guest = ["hyperlight-common/trace_guest", "hyperlight-guest/trace_guest", "hyperlight-guest-bin/trace_guest"]

[patch.crates-io]
hyperlight-common = { git = "https://github.com/hyperlight-dev/hyperlight", rev = "5bfe0bfdf2f168b48bf6242d8eed84d54fab1186" }
hyperlight-guest-bin = { git = "https://github.com/hyperlight-dev/hyperlight", rev = "5bfe0bfdf2f168b48bf6242d8eed84d54fab1186" }
hyperlight-guest = { git = "https://github.com/hyperlight-dev/hyperlight", rev = "5bfe0bfdf2f168b48bf6242d8eed84d54fab1186" }