[package]
name = "rust_wasm_samples"
version = "0.9.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib"]

[profile.release]
lto = true
opt-level = 'z'
strip = true


[workspace] # indicate that this crate is not part of any workspace

[dependencies]

